body {
     height: 100%;
     width: 100%;
     position: absolute;
}
 footer {
     background-color: #381F15;
     color: white;
     padding-bottom: 10px;
     padding-top: 6px;
     position: fixed;
     height: 35px;
     bottom: 0;
     width: 100%;
}
 .footer-text{
     text-align: left;
     font-size: 14px;
}
 .footer-media{
     text-align: right;
     padding-bottom: 0px !important;
     padding-top: 0px !important;
     margin-left: 165px;
}
 .footer-images{
     width: 20px;
     height: 20px;
}
/* set bg colour and padding for profile info pane */
 .profile{
     padding-top: 15px;
     padding-bottom: 11px;
     background-color:#381F15;
     margin-top: -1px;
}
/* view under the logo */
 .logo-img{
    /* height: 70px;
    */
     width: 140px;
    /* padding-left: 0;
    */
     padding-top: 6px;
     display: block;
     margin-left: auto;
     margin-right: auto;
}
 .logo{
     height: 80px;
     background-color:#79563C;
}
 h2{
     font-family: American Typewriter;
     font-size: 45px;
     padding-top: 40px;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
 .row.content {
    height: 650px
}
/* page content area (grey color) */
 .avatar {
     background-color: #F5F5F5;
     height: 585px;
     width: 970px;
     position: relative;
     margin-top: 20px;
     margin-left: 10px;
}
/*to overide the bootstrap class */
 #bootstrap-overrides{
     padding-bottom: 0px !important;
     padding-top: 0px !important;
     padding: 0px !important;
     height: 330px;
     width: 400px;
     margin-left: 385px;
     align : center;
}
 #button1-overrides{
     margin-left: 170px;
     background-color: #F5F5F5 !important;
     font-size: 70px;
     height: 180px;
     width: 100px;
     margin-left: 100px;
     margin-top: -120px;
     margin-bottom: 43px;
     border-color: #F5F5F5;
}
 #button2-overrides{
     margin-right: 150px;
     background-color: #F5F5F5 !important;
     font-size: 70px;
     height: 180px;
     width: 100px;
     margin-left: 680px;
     margin-top: -235px;
     border-color: #F5F5F5;
}
 .ui-shadow {
     box-shadow: 0 1px 3px rgba(177, 61, 61, 0) !important;
}
 .sumbit-btn {
     width: 295px !important;
     height: 50px !important;
     background: linear-gradient(#93725B, #381F15) !important;
     color: white !important;
     position: absolute !important;
     margin-left: 32px !important;
     margin-bottom: 10px !important;
     top: 480px !important;
     left: 310px !important;
}
 .ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
     color: #ffffff !important;
}
 .ui-mobile body {
     height: 100.0% !important;
}
 .w3-black, .w3-hover-black:hover {
     color: black !important;
}
 @media screen and (max-width: 767px) {
     .avatar{
         height: 480px;
         width:346px;
         position: relative;
         margin-top: 140px;
         margin-left: 0px;
         margin-bottom: 20px;
    }
     h2{
         font-size: 30px;
    }
    
/* on small screen, set the profile tab list under the navbar */
  .profile{
        position: absolute;
        height: 60px;
        top: 80px;
        width: 100%;
        margin-top: -15px;
        margin-bottom: -15px;
    }
     .logo{
         position: absolute;
         top: 0;
         z-index: 1000;
         width: 100%;
    }
     .footer-text{
         font-size: 12px !important;
         right: 15px;
         top: 4px;
    }
    /* on small screen, set the content fixed under the profile bar */
     .row.info {
         position: static;
         height: auto;
         top: 110px;
         padding-left: 15px;
         padding-right: 15px;
         text-align: justify;
         margin-top: 30px;
    }
    /* set the social media icons of footer in place */
     .footer-media{
         position: relative;
         top: -16px;
         left: 15px;
    }
    /* view under the logo */
     .logo-img{
        /* height: 70px;
        */
         width: 140px;
        /* padding-left: 0;
        */
         padding-top: 6px;
         display: block;
         margin-left: auto;
         margin-right: auto;
    }
    /*to overide the bootstrap class */
     #bootstrap-overrides{
         padding-bottom: 0px !important;
         padding-top: 0px !important;
         padding: 0px !important;
         height: 300px;
         width: 130px;
         margin-left: 70px;
         align : center;
    }
     #button1-overrides{
         margin-left: 10px;
         background-color: #F5F5F5 !important;
         font-size: 40px;
         height: 80px;
         width: 10px;
         margin-left: 2px;
    }
     #button2-overrides{
         margin-right: 20px;
         background-color: #F5F5F5 !important;
         font-size: 40px;
         height: 80px;
         width: 10px;
         margin-left: 248px;
         margin-top: -130px;
    }
     .sumbit-btn {
         width: 295px !important;
         height: 50px !important;
         margin-left: -286px !important;
         margin-top: -60px !important;
    }
}    


