/* page content area (grey color) */
 .page-event {
     background-color: #F5F5F5;
     height: 612px;
     width: 818px;
     position: relative;
     margin-top: 20px;
     margin-right: 20px;
     margin-bottom: 20px;
}
 .event{
     text-align: left;
     color: black;
     margin-top: -580px;
     padding-left: 55px;
     margin-left: 280px;
     font-family: Helvetica;
}
/*paragraph ofthe branch*/
 .para-event{
     width: 456px;
     margin-top:30px;
     height: 500px;
     margin-left: 330px;
     font-size: 16px;
     font-family: Helvetica;
}
 .heart-click-events {
     background: transparent;
     border: 0px;
     margin-left: 747px;
     margin-top: -38px;
     position: absolute;
}
 .heart-events{
     width: 25px;
     height: 25px;
}
/*back button */
 .event-exp-back-btn {
     margin-left: -55px;
}
/* On small screens, set height to 'auto' for sidenav and grid */
 @media screen and (max-width: 767px) {
     .page-event {
         height: 480px;
         width:346px;
         position: relative;
         margin-top: 25px;
         margin-bottom: 20px;
    }
     .para-event{
         width: 328px;
         margin-top:10px;
         height: 270px;
         margin-left: 10px;
         font-size: 11px;
         font-family: Helvetica;
    }
     .icon-img-event{
         background-image: url(images/Branchiphone.jpg);
         width: 344px;
         height: 210px;
    }
     .event{
         text-align: left;
         color: black;
         font-size: 16px;
         margin-top: 15px;
         margin-left: 0px;
         font-family: Helvetica;
    }
     .heart-click-events {
         margin-right: 30px;
         margin-top: -76px;
         margin-left: 300px;
    }
     .heart-events{
         width: 20px;
         height: 20px;
    }
}
 