.event1 {
     background-color: #F5F5F5;
     height: 240px;
     width: 590px;
     position: relative;
     margin-top: 20px;
     margin-right: 10px;
     margin-bottom: 20px;
}
 .event2 {
     background-color: #F5F5F5;
     height: 550px;
     width: 220px;
     position: relative;
     margin-top: 20px;
     margin-bottom: 20px;
}
 .event3 {
     background-color: #F5F5F5;
     height: 365px;
     width: 280px;
     position: relative;
     margin-right: 10px;
     margin-top: -10px;
     margin-bottom: 20px;
}
 .event4 {
     background-color: #F5F5F5;
     height: 365px;
     width: 297px;
     position: relative;
     margin-top: -10px;
     margin-bottom: 20px;
}
 .topic{
     font-size: 18px;
}
 .event1-content{
     width: 320px;
     height: 230px;
     font-size: 14px;
     font-family: Helvetica;
}
 .event2-content{
     width: 197px;
     height: 240px;
     font-size: 14px;
     font-family: Helvetica;
     margin-top: 20px;
}
 .event3-content{
     width: 257px;
     height: 240px;
     font-size: 14px;
     font-family: Helvetica;
     margin-top: 176px;
}
 .event4-content{
     width: 257px;
     height: 240px;
     font-size: 14px;
     font-family: Helvetica;
     margin-top: 2px;
}
 .icon-img-event1{
     margin-left: 343px;
     margin-top: -263px;
}
 .icon-img-event3{
     margin-left: -16px;
     margin-top: -353px;
     height: 166px;
     width: 282px;
}
 .icon-img-event4{
     margin-left: -16px;
     margin-top: 22px;
     height: 202px;
     width: 299px;
     z-index: 1000;
}
 .icon-img-event2{
     margin-left: -15px;
     margin-top: 24px;
     height: 351px;
     width: 221px;
     z-index: 1000;
}
 .heart-click-event1 {
     background: transparent;
     border: 0px;
     margin-left: 284px;
     margin-top: -20px;
     position: absolute;
}
 .heart-event1{
     width: 25px;
     height: 25px;
}
 .heart-click-event2 {
     background: transparent;
     border: 0px;
     margin-left: 158px;
     margin-top: -384px;
     position: absolute;
}
 .heart-event2{
     width: 25px;
     height: 25px;
     margin-top: 0px;
}
 .heart-click-event3 {
     background: transparent;
     border: 0px;
     margin-left: 222px;
     margin-top: 163px;
     position: absolute;
}
 .heart-event3{
     width: 25px;
     height: 25px;
     margin-left: 0px;
}
 .heart-click-event4 {
     background: transparent;
     border: 0px;
     margin-left: 224px;
     margin-top: -239px;
     position: absolute;
}
 .heart-event4{
     width: 25px;
     height: 25px;
     margin-top: -0px;
}
 .btnEventShare {
     background: linear-gradient(#93725B, #381F15) !important;
     border-radius: 7px;
     float: right;
     border: none;
     color: white;
     height: 40px;
     width: 220px;
     position: absolute;
     margin-left: -26px;
     top: 593px;
     left: 640px;
     font-size: 20px;
}
 p.iphone {
     display: none
}
 p.ipad {
     display: block
}
 @media screen and (max-width: 767px) {
     .event1 {
         height: 110px;
         width: 345px;
         margin-top: 26px;
    }
     .event2 {
         height: 110px;
         width: 345px;
         margin-top: -15px;
         margin-bottom: 20px;
    }
     .event3 {
         height: 110px;
         width: 345px;
         margin-bottom: 20px;
    }
     .event4 {
         height: 110px;
         width: 345px;
         margin-top: -15px;
         margin-bottom: 20px;
    }
     .topic{
         font-size: 13px;
    }
     p{
         font-size: 12px;
    }
     .event1-content{
         width: 209px;
         height: 44px;
         font-size: 12px;
         padding-top: 1px;
    }
     .event2-content{
         width: 197px;
         height: 110px;
         margin-top: 20px;
         padding-top: 1px;
    }
     .event3-content{
         width: 209px ;
         height: 110px;
         margin-top: 176px;
         padding-top: 1px;
    }
     .event4-content{
         width: 209px;
         height: 110px;
         margin-top: 2px;
         padding-top: 1px;
    }
     .icon-img-event1{
         margin-left: 220px;
         margin-top: -44px;
         margin-bottom: -46px;
         height: 110px;
         width: 110px;
    }
     .icon-img-event3{
         margin-left: 220px;
         margin-top: -96px;
         height: 110px;
         width: 110px;
    }
     .icon-img-event4{
         margin-left: 220px;
         margin-top: -113px;
         height: 110px;
         width: 110px;
         z-index: 1000;
    }
     .icon-img-event2{
         margin-left: 220px;
         margin-top: -113px;
         height: 110px;
         width: 110px;
         z-index: 1000;
    }
     .btnEventShare {
         background: linear-gradient(#93725B, #381F15) !important;
         border-radius: 7px;
         float: right;
         border: none;
         color: white;
         font-size: 20px;
         height: 30px;
         width: 345px;
         position: absolute;
         margin-top: -105px;
         left: 40px;
         font-size: 16px;
    }
     .heart-click-event1 {
         margin-right: 30px;
         margin-top: -10px;
         margin-left: 190px;
    }
     .heart-event1{
         width: 15px;
         height: 15px;
         margin-top: 0px;
         margin-left: 0px;
    }
     .heart-click-event2 {
         margin-right: 30px;
         margin-top: -26px;
         margin-left: 190px;
    }
     .heart-event2{
         width: 15px;
         height: 15px;
         margin-top: 0px;
         margin-left: 0px;
    }
     .heart-click-event3 {
         margin-right: 30px;
         margin-top: -26px;
         margin-left: 190px;
    }
     .heart-event3{
         width: 15px;
         height: 15px;
         margin-top: 0px;
         margin-left: 0px;
    }
     .heart-click-event4 {
         margin-right: 30px;
         margin-top: -26px;
         margin-left: 190px;
    }
     .heart-event4{
         width: 15px;
         height: 15px;
         margin-left: 0px;
         margin-top: 0px;
    }
     ul{
         font-size: 11px;
    }
     p.iphone {
         display: block 
    }
     p.ipad {
         display: none 
    }
}
 