body {
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  margin-top: 0px;
  min-height: 100px;
  border: 0px solid transparent;
}

.navbar-inverse {
    background-color: #4E2B1C;
    border-color: #4E2B1C;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #000000;
/*    background: #79563c;*/
    
}

.navbar-nav>li>a {
    padding-left: 0px;
    padding-right: 0px;
    width: 150px;
    height: 65px;
    font: 18px Lucida grande, sans-serif;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
    width: 170px;
    right: 15px;
    height: 55px;
    margin-top: -8px;
    margin-bottom: 8px;
}

.navbar-inverse .navbar-nav>.active>a{
/*    height: 50px;*/
    width: 170px;
    right: 15px;
    background-color: #764725;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 650px}

.row.info {
        padding-left: 15px;
        padding-right: 15px;
        text-align: justify;
    }

.container-fluid.tabs{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: 0;
}

/* Set gray background color and 100% height */
.sidenav {
/*  padding-top: 20px;*/
  background-color: #4E2B1C;
  height: 106.1%;
}

/* added by thisari to change color to brown when clicking a link */
a {
    color: white;
    text-decoration: none;
}

/* added by thisari to highlight the selected page text */
.tab-select {
/*
    font: 20px Lucida grande, sans-serif !important;
    font-weight: bold !important;
    font-style: italic oblique !important;
    color: #93725B !important;
*/
    background-color: #764725;
}

.back-btn {
    height: 35px;
    width: 30px;
    margin-left: -56px;
    margin-top: 8px;
}

/* On small screens, set properties accordingly */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
/*    padding: 15px;*/
    position: static;
    top: 0;
    width: 100%;
    background-color:#79563C;
  }
    
  .navbar-nav {
    padding-left: 120px;
  }
    
  .nav>li>a {
    padding: 10px 5px;
  }
    
  .navbar-inverse {
    background-color: #79563C;
    border-color: #79563C;
    min-height: 80px;
  }
    
  .navbar-inverse .navbar-toggle {
    border-color: #79563c;
    margin-top: 20px;
  }
    
   .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #79563c;
  }
    
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #000000;
    background: #79563c;
    
}
    .navbar-inverse .navbar-nav>.active>a {
    background-color: #79563c;
}
    
  .container-fluid>.navbar-header{
    min-height: 80px;
    background: #79563c;
  }
    
  .row.content {
      height:auto;
  } 

/* on small screen, set the profile tab list under the navbar */
  .profile{
        position: absolute;
        height: 60px;
        top: 80px;
        width: 100%;
/*        z-index: -1000;*/
        margin-top: -15px;
        margin-bottom: -15px;
/*        padding-top: 0;*/
    }
    
    .h4-prof{
        color: #ffffff;
        margin-top: 15px;
    }
    
    .btn-primary.profile-dropdown {
        height: 5px;
        padding-top: 0.5px;
    }

    .btn {
        display: inherit;
        padding: 0px 0px;
    }

/* on small screen, set the content fixed under the profile bar */
    .row.info {
        position: static;
        height: auto;
        top: 110px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: justify;
        margin-top: 30px;
    }
    
/* set logo on the top pane for mobile */
    .logo{
        position: absolute;
        top: 0;
        margin-left: 95px;
        z-index: 1000;
    }
    
    .prof-img{
        height: 20px;
        width: 20px;
    }
    
/* set small footer font for mobile */
    .footer-text{
        font-size: 12px !important;
        right: 15px;
        top: 4px;
    }

/*  set the social media icons of footer in place  */
    .footer-media{
        position: relative;
        top: -16px;
        left: 15px;
    }

    .back-btn {
        margin-top: -104px;
        z-index: 2;
        position: relative;
        margin-left: -61px;
    }

    .tab-select {
        background-color: #79563c;
    }
        
}

/* large screens with minimum width of 768px */
@media (min-width: 768px){
   .navbar-nav {
        margin: 7.5px -15px;
    }
}

/* Set footer for the pages */
footer {
  background-color: #381F15;
  color: white;
  padding-bottom: 10px;
  padding-top: 6px;
  position: fixed;
  height: 35px;
  bottom: 0;
  width: 100%;
}

.footer-text{
    text-align: left;
    font-size: 14px;
}

.footer-media{
    text-align: right;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.footer-images{
    width: 20px;
    height: 20px;
}

/* set bg colour and padding for profile info pane */
.profile{
    padding-top: 15px;
    padding-bottom: 11px;
    background-color:#381F15;
}

/* view under the logo */
.logo-img{
/*    height: 70px;*/
    width: 140px;
/*    padding-left: 0;*/
    padding-top: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.logo{
    height: 80px;
    background-color:#79563C;
}

.icon-img{
    margin-right: 10px;
    margin-left: 15px;
}

/*
.prof-img{
    height: 30px;
    width: 30px;
}
*/

.badge {
    font-size: 13px;
    background-color: #79563c;
}

.btn-primary .badge {
    color: #ffffff;
    background-color: #79563c;
}

.btn-primary.profile-dropdown {
    color: #fff;
    background-color: #381f15;
    border-color: #381f15;
/*    margin-right: 15px;*/
}

.open>.dropdown-toggle.btn-primary.profile-dropdown:hover {
    color: #fff;
    background-color: #381f15;
    border-color: #381f15;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 5px auto #381f15;
}

.btn .caret {
    margin-left: 5px;
}

h4{
        color: #381F15;
    }

