
.row.info {
            padding-left: 15px;
            padding-right: 15px;
            text-align: justify;


            }
/*page content grey color box*/
.pagecontent{
            background-color: #f5f5f5;
            width: 30px;
            height: 500px;
            margin-left: -2px;
            margin-right: 150px;
            margin-top: 21px;
            margin-right: -10px;
            margin-bottom: -15px;
            white-space: nowrap;

}

/*maze image*/ 
.icon-img-maze{
    margin-top: -12px;


}
.icon-img-btn1{
    margin-bottom: 10px;
    position: relative;
    float: right;
    top: 50%;
    left: 50%;

}

.icon-img-btn2{
    margin-bottom: 10px;
    position: relative;
    float: right;
    top: 48%;
    left: 50%;

}

.icon-img-btn3{
    margin-bottom: 10px;
    position: relative;
    float: right;
    top: 50%;
    left: 50%;

}
.button1 {
    border-radius: 70%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin-left: 50px;
    margin-bottom: 10px;
    top: 470px;
    left: 720px;

}

.button2 {
    border-radius: 70%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin-left: 50px;
    margin-bottom: 10px;
    top: 520px;
    left: 720px;
}

.button3 {
    border-radius: 70%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin-left: 50px;
    margin-bottom: 10px;
    top: 570px;
    left: 720px;
}

#slide{
   width: 530px;
    height: 77px;
    margin-left: 154px;
    margin-top: 13px;
    
}
#slide2{
   width: 530px;
    height: 77px;
    margin-left: 154px;
    margin-top: 13px;
    
}
#slide3{
   width: 530px;
    height: 77px;
    margin-left: 154px;
    margin-top: 13px;
    
}
.hide_content{
    width: 530px;
    height: 77px;
    margin-left: 200px;
    margin-top: -35px;
    display:none;
    padding-top: 42px;
}
.hide_content1{
    width: 530px;
    height: 77px;
    margin-left: 154px;
    margin-top: 13px;
    display:none;
}
#defaultOpendiv{
    width: 530px;
    height: 43px;
    margin-left: 200px;
    margin-top: 5px;
    padding-top: 0px;
    
}
#target-tab1div{
    
}
.w3-black, .w3-hover-black:hover {
    color: black !important;
}

@media screen and (max-width: 768px) {
/* on small screen, set the content fixed under the profile bar */
    .row.info {
        height: 490px;
        width: 319px;
        top: 110px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: justify;
        margin-top: 52px;
        margin-left: -7px;
    }
    .hide_content{
       margin-left: 27px;
    width: 20px;
    padding-top: 39px;
    margin-bottom: -24px;
    }
    #target-tab1div{
          margin-left: 27px;
    width: 20px;
    padding-top: 45px;
    margin-bottom: -24px;
        
    }
    #defaultOpendiv{
    margin-left: 26px;
    width: 10px;
    margin-top: -23px;
    padding-top: 32px;
    }
    
    /*make the slide small on smaller screen*/
    #slide{
        width: 343px !important;
        height: 70px !important;
        margin-left: 10px !important;
        margin-right: -148px;
        margin-top: -6px;
    }
    
    .redeem-content12{
        margin-left: 4px !important;
        padding-top: 3px !important;
        width: 313px !important;
        height: 300px !important;
    }

    /*logo in small screen*/
    .navbar-header{

    }

    .tab button{
       width: 105px !important;
        margin-top: -6px !important;
    }
    
    .tab button.active{
        width: 120px !important;
    }
    /* Make the tab small on smaller screen*/
    .tabcontent{
        width: 336px;
        height: 391px !important; 
    }
    
    /*maze image for small screen*/ 
    .icon-img-maze{
        margin-top: -18px;
        margin-left: -14px;
        
    }
    
    .c1{
        padding-top: 3px !important;
    }

    .icon-img-btn1{
        margin-bottom: 10px;
        position: relative;
        float: right;
        top: 50%;
        left: 50%;
    }

    .icon-img-btn2{
        margin-bottom: 10px;
        position: relative;
        float: right;
        top: 48%;
        left: 50%;

    }

    .icon-img-btn3{
        margin-bottom: 10px;
        position: relative;
        float: right;
        top: 50%;
        left: 50%;

    }
    .button1 {
        border-radius: 70%;
        height: 40px;
        width: 40px;
        position: absolute;
        margin-left: 50px;
        margin-bottom: 10px;
        top: 448px;
        left: 68px;

    }

    .button2 {
        border-radius: 70%;
        height: 40px;
        width: 40px;
        position: absolute;
        margin-left: 50px;
        margin-bottom: 10px;
        top: 448px;
        left: 128px;
    }

    .button3 {
        border-radius: 70%;
        height: 40px;
        width: 40px;
        position: absolute;
        margin-left: 50px;
        margin-bottom: 10px;
        top: 448px;
        left: 192px;
    }
                        
            
    .m1{
        margin-left: 51px;
        margin-top: -64px;
        font-size: 16px;

    }
                        
    /*description of each members*/
    .d1{
        margin-left: 117px !important;
        font-size: 14px !important;
    }
    
    /*favourite each member*/
    .heart{
           margin-left: -1px !important;
    }
    
    .heart-click{
       margin-left: 289px !important;
       margin-top: -35px !important;
    }
                        
    .u1{
        margin-left: 11px !important;
        height: 80px;
        width: 80px;
        margin-top: 6px !important;
    }
                       
    .redeem-content{         
        display: none;        
    }
    
    /*Set the about us content scrollable in smaller screens*/      
    .member1{
        width: 339px!important;
        height: 88px !important;
        margin-top: -5px !important;
        margin-bottom: 10px !important;
    }
                        
    .m1{
        margin-left: 116px !important;
        margin-top: -75px !important;
    }
    
    .redeem-content{   
        width: 334px;
    }
    }


    .imtip {
  position: absolute;
  bottom: 0;
  right: 0;
            }

        .primary.noti-dropdown {
            height: 5px;
            padding-top: 0.5px;
                        }
        .primary.noti-dropdown {
            color: #fff;
            background-color: #381f15;
            border-color: #381f15;
                    }

        .open>.dropdown-toggle.primary.noti-dropdown:hover {
            color: #fff;
            background-color: #381f15;
            border-color: #381f15;
                    }

        .btn-primary1{
            background-color: #79563C;
            height: 39px;
            width: 39x;

                    }
        .badge{
            font-size: 13px;
            background-color: #79563c;
            margin-top: 5px;
            color: #ffffff;
                }
        .btn-primary .badge {
            color: #ffffff;
                        background-color: #79563c;
                    }
                    .slider{
                        width: 486px;
                        height: 64px;
                        margin-left: 158px;
                        margin-top: 23px;
                    }

                    /* Style the tab */
                    .tab {
                        overflow: hidden;
                        border: 1px solid #ccc;
                        border-radius: 15px;
                        background-color: #ffffff;
                                margin-top: 42px;
                    }

                    /* Style the buttons inside the tab */
                    .tab button {
                        background-color: inherit;
                        float: left;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        padding: 14px 16px;
                        transition: 0.3s;
                        font-size: 17px;
                        width: 253px ;
                    }

                    /* Change background color of buttons on hover */
                    .tab button:hover {
                        background-color: #AF9B8A;
                        width: 253px;
                    }

                    .tab button:visited {
                        background-color: #AF9B8A;
                        width: 253px;
                    }

                    /* Create an active/current tablink class */
                    .tab button.active {
                        background-color: #AF9B8A;
                        width: 315px ;
                    }

                    /* Style the tab content */
                    .tabcontent {
                        display: block;
                        background-color: #f1f1f1;
                        padding: 6px 12px;
                        border: 0px solid #AF9B8A;
                        border-top: none;
                        height: 500px ;
                        border-radius: 10px;
                    }
/*Continue button*/ 
                    .buttonContinue{
                        background: linear-gradient(#93725B, #381F15) !important;
                        color: white;
                        height: 50px;
                        width: 200px;
                        font-size: 20px;
                        border-radius: 10px;    
                        font-size: 20px;
                        margin-top: 300px;
                        margin-left: 580px;

                    }
/*edit button*/  
                  .buttonCancel{
       background: linear-gradient(#93725B, #381F15) !important;
    color: white;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 96px!important;
    margin-left: 64px;
    margin-bottom: -13px;
                    }

.buttoncancel{
       background: linear-gradient(#93725B, #381F15) !important;
    color: white;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 47px!important;
    margin-left: 64px;
    margin-bottom: -13px;
    
}
/*Pay online button*/ 
                    .buttonPayOnline{
    background: linear-gradient(#93725B, #381F15) !important;
    color: white;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: -58px;
    margin-left: 64px;
    margin-top: 24px;

                    }
                    .w3-padding-16{
                        padding-top: 0px;
                        padding-bottom: 0px;
                    }
#myLabel{
   font-size: 21px;
    margin-top: 16px;
    font-family: Helvetica;
    line-height: 28px;
    margin-left: 69px;
    font-weight: 492 !important;


}               
#details{
   font-size: 19px;
    line-height: 17.9px;
    margin-right: 5px;
  margin-left: 96px;
        font-weight: 492 !important;
}
            
            #details1{
        font-size: 18px;
    line-height: 0.9px;
    margin-left: -27px;
    margin-right: 5px;
    text-align: left;
                    font-weight: 492 !important;
}

                    /*to overide the bootstrap class */
                    #bootstrap-overrides{
                        padding-bottom: 0px !important;
                        padding-top: 0px !important;
                        background-color: white!important;
                        color: black !important;
                        border: 1px solid !important;
                        padding: 0px !important;
                        height: 30px;
                        width: 251px;
                        text-align: center;


                    }
#bootstrap_overrides{
                            padding-bottom: 0px !important;
                            padding-top: 0px !important;
                            background-color: white!important;
                            color: black !important;
                            border: 1px solid !important;
                            padding: 0px !important;
                            height: 30px;
                            width: 360px;
                            text-align: center;
                            margin-left: -209px;
                            margin-bottom: 92px;
    z-index: 1;
    
}
#plus{
    background-color: #f1f1f1 !important;
    left: 25% !important;
    font-size: 56px;
}
#plus2{
    background-color: #f1f1f1 !important;
    right: 27% !important;
    width: 49px;
    font-size: 56px;

}
                    #imageOverride{
                        box-shadow: 5px 10px #888888 !important;
                    }

                    #date{
                        margin-left: 30px !important;
                        height: 30px;
                        width: 291px;
                        padding-top: 0px;
                        border-radius: 0px;
                        border: 0px;
                        box-shadow: 0px 0px 4px 0px;
                    }
                    #time{
                        margin-left: 30px !important;
                        height: 30px;
                        width: 291px;
                        padding-top: 0px;
                        border-radius: 0px;
                        border: 0px;
                        box-shadow: 0px 0px 4px 0px;
                    }
                    #d1{
                         margin-left: 270px;
                        margin-top: 29px;
                    }
                    #d2{
                         margin-left: 270px;
                        margin-top: 29px;
                    }

            #myNumber{
                margin-right: 210px;
                width: 82px;
                border-radius: 0px;
                height: 30px;
                border: 0px;
                box-shadow: 0px 0px 4px 0px;
                    }
 .w3-display-container {
   
    margin-top: 10px;
}
/*points*/
#pointRedeem{
    margin-right: -1px;
    width: 51px;
    border-radius: 8px;
    
}
                /*Label for date */
                label{
                    margin-left: 220px;
                    margin-top: 23px;
                    font-size: 19px;
                }

               
                /*about us */
                .news1 {
                    background-color: #F5F5F5;
                    height: 340px;
                    width: 574px;
                    position: relative;
                    margin-top: 20px;
                    margin-right: 10px;
                    margin-bottom: 20px;
                }

                .news2 {
                    background-color: #F5F5F5;
                    height: 622px;
                    width: 239px;
                    position: relative;
                    margin-top: 20px;

                    margin-bottom: 20px;
                }


                .newsN {
                    background-color: #F5F5F5;
                    height: 271px;
                    width: 574px;
                    position: relative;
                    margin-top: 26px;
                    margin-bottom: 20px;
                }

                h4{
                    font-size: 20px;
                    margin-top: 14px;
                }

                .news1-content{
                  width: 320px;
                  height: 230px;
                  font-size: 14px;
                  font-family: Helvetica;
                }

                .news2-content{
                  width: 220px;
                  height: 240px;
                  font-size: 14px;
                  font-family: Helvetica;
                  margin-top: -100px;
                  margin-left: 590px;
                }

                .icon-img-news1{
                    margin-left: 335px;
                    margin-top: -194px;
                    width:217px;
                    height: 270px;
                    
                }


/*share button in about us*/
                .btnShare {
                    background: linear-gradient(#93725B, #381F15) !important;
                    float: right;
                    border: none;
                    color: white;
                    height: 40px;
                    width: 220px;
                    position: absolute;
                    margin-left: -646px;
                    top: 570px;
                    left: 655px;
                    border-radius: 7px;
                    font-size: 20px;
                }
                .btnContinue{
                background: linear-gradient(#93725B, #381F15) !important;
                    float: right;
                    border-radius: 8px;
                    color: white;
                    height: 40px;
                    width: 367px;
                    position: absolute;
                    margin-left: -410px;
                    top: 588px;
                    left: 655px;
                    font-size: 20px;
    }

        .email{
            margin-left: 41px;
            margin-top: 43px;
        }
        .icon-img-tele{
            margin-left: 3px;
            margin-top: -58px;
        }

        .tele{
            margin-left: 41px;
            margin-top: 22px;
        }
        .telephone{
            margin-left: 41px;
            margin-top: -12px;
            font-size: 16px;
        }
        .add{
                margin-left: 376px;
                margin-top: -169px;

        }
        .address1{
        margin-left: 375px;
            margin-top: -13px;
            line-height: 2.0rem;
            font-size:  16px;

        }
        .emailaddress{
             margin-left: 41px;
             margin-top: -11px;
            font-size: 16px;
        }
        .icon-img-email{
                    margin-left: 0px;
                    margin-top: -52px;
                    height: 30px;
                    width: 30px;
                }
        .icon-img-address{
        margin-left: 333px;
        margin-top: -50px;

        }

/* alignmnets of paypal button in the reservation form */
        .paypalBtn_reservation{
            margin-left: 65px;
            margin-top: 25px;
        }

        @media screen and (max-width: 767px) {
                    .news1 {
                    background-color: #F5F5F5;
                    height: 184px;
                    width: 359px;
                    position: relative;
                    margin-top: -12px;
                    margin-bottom: -4px;
                    margin-left: -14px;
                }
            #cnumber{
    margin-left: 12px !important;
    width: 146px !important; 
    height: 30px;
            }
            .buttoncancel{
       background: linear-gradient(#93725B, #381F15) !important;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 51px;
    margin-bottom: 5px;
    height: 40px;
    margin-top: 31px !important;
    
}
            
            
            #details{
     font-size: 16px !important;
    line-height: 25px !important;
    margin-left: 58px !important;
    font-weight: 492 !important;
                
}
            
            #details1{
   font-size: 17px !important;
    line-height: 0.9px !important;
    margin-left: -27px !important;
    margin-right: 24px !important;
    text-align: left !important;
    font-weight: 492 !important;
}

                .news2 {
               background-color: #F5F5F5;
    height: 537px;
    width: 358px;
    position: relative;
    margin-top: 191px;
    margin-bottom: 42px;
    margin-left: -13px;
                }

                .newsN {
   background-color: #F5F5F5;
    height: 171px;
    width: 359px;
    position: relative;
    margin-top: -71px;
    margin-bottom: 20px;
    margin-left: 0px;
                }
            #c2{
              margin-top: 10px;  
            }

                    .btnEventShare {
      background: linear-gradient(#93725B, #381F15) !important;
    float: right;
    border: none;
    color: white;
    font-size: 20px;
    height: 30px;
    width: 116px;
    position: absolute;
    margin-top: 295px;
    left: 165px;
                }
                    .news2-content{
                  width: 220px;
                  height: 240px;
                  font-size: 14px;
                  font-family: Helvetica;
                  margin-top: -175px;
                  margin-left: 131px;
                }
                    .icon-img-news1{
                        margin-left: 186px;
                        margin-top: -280px;
                        height: 134px;
                        width: 150px;
                }
                    .news1-content{
                  width: 320px;
                  height: 230px;
                  font-size: 10px;
                  font-family: Helvetica;
                }
                    .cont1{
                    line-height: 14px;
                    margin-left: -7px;
                    margin-right: 10px;
                    width: 185px;
                    font-size: 13px;
                    text-align: inherit
                    }
 /*#reservation plus divs  */             
#plus{
      background-color: #f1f1f1 !important;
    left: 0% !important;
    width: 1px;
    font-size: 31px
}
#plus2{
       background-color: #f1f1f1 !important;
    right: 2% !important;
    width: 37px;
    font-size: 31px;
}
            /*about us contact info on smaller screens,set the content under central perk description*/
            
        .email{
      margin-top: 21px;
    margin-bottom: 5px;
        }
        .icon-img-tele{
            margin-left: 3px;
        }

        .tele{
           margin-left: 41px;
    margin-top: -4px;
        }
        .telephone{
              margin-left: 19px;
    font-size: 12px;
            padding-top: 1px;
        }
        .add{
   margin-left: 225px;
    margin-top: -129px;

        }
        .address1{
   margin-left: 205px;
    font-size: 13px;
    margin-top: -18px;
        }
        .emailaddress{
             margin-left: 16px;
                font-size: 13px;
        }
        .icon-img-email{
                    margin-left: 0px;
                    height: 30px;
                    width: 30px;
                }
        .icon-img-address{
margin-left: 186px;
    margin-bottom: 6px;
        }
            
            
        /*to overide the bootstrap class */
                    #bootstrap-overrides{
                        padding-bottom: 0px !important;
                        padding-top: 0px !important;
                        background-color: white!important;
                        color: black !important;
                        border: 1px solid !important;
                        padding: 0px !important;
                        height: 30px;
                        width: 200px;
                        text-align: center;
                        font-size: 16px !important;


                    }

                    #imageOverride{
                        box-shadow: 5px 10px #888888 !important;
                        width: 200px !important;
                    }
        
          
 .btnShare {
    top: 498px;
    height: 30px;
    width: 338px;
    margin-left: -645px;
    font-size: 16px;
                        }
    /*set the continue button after the tab in smaller screens*/
    .btnContinue{
    margin-left: -602px;
    margin-top: -140px;
    height: 40px;
    width: 270px;
    font-size: 16px;
            }  
            
            .buttonPayOnline{
           margin-top: 11px;
    width: 200px;
    margin-left: 51px;
    height: 40px;
            }
            .buttonCancel{
    margin-top: 35px !important;
    margin-left: 52px;
    width: 200px;
    margin-bottom: 7px;
    height: 40px;
    font-size: 16px;

         }
          
            #send1{
    margin-left: 52px;
    margin-top: 6px; 
    height: 40px;
    font-size: 16px;
            }
            label {
            margin-left: 21px !important;
    font-size: 13px !important;
    line-height: 0.5px !important;
    margin-top: 20px !important;
    margin-top: 20px !important;
    margin-top: 20px !important;
    margin-top: 20px !important;
            }
            
            #bootstrap_overrides{
               display: none; 
            }
            
            .redeem-content1{
   width: 304px !important;
    margin-left: 5px!important;
    margin-top: -4px !important;
                padding-top: 25px !important;
            }
            .tab{
        width: 332px;
    height: 49px;
    margin-top: 33px;
            }
   
            #date{
       margin-left: 26px !important;
    margin-top: 1px !important;
    width: 210px;
    height: 30px;
            }
            #time{
    margin-left: 24px !important;
    margin-top: 10px !important;
    width: 210px;
    height: 30px;
            }
             
            #myNumber{
    margin-right: 24px;
    width: 44px;
    margin-top: 10px;
    height: 30px;
            }
            #myLabel{
       font-size: 17px !important;
    margin-left: 42px !important;
line-height: 18.9px !important;
    margin-top: 26px !important;
                margin-right: 4px;

            }
            #pointRedeem{
                width: 49px;
                margin-right: -2px;
            }
            
            /* alignmnets of paypal button in the reservation form on smaller devices */
                .paypalBtn_reservation{
                    margin-left: 52px;
                    margin-top: 5px;
                    height: 62px;
                }

            
            }
            
#cnumber{
 margin-bottom: -33px;
    margin-left: 25px;
    width: 186px;
    height: 30px;
    border-radius: 0px;
    border: 0px;
    margin-right: 10px;
    box-shadow: 0px 0px 4px 0px;
    margin-top: 10px;
}
            .member1{
            height: 95px;
            background-color: white;
            left: 9px;
            width: 220px;
            margin-top: 7px;

                }

            .m1{
            margin-left: 56px ;
            margin-top: -64px;
            font-size: 15px;

            }
            .u1{
       margin-left: -11px;
    margin-top: 14px;
            }       
            .d1{
                margin-left: 57px;
                font-size: 12px;
                text-align: initial;
            }

/*memebers favourite by a heart click*/
           .heart-click {
               background: transparent;
    border: 0px;
    position: absolute;
        margin-left: 173px;
    margin-top: -20px;
        }
            .heart{
              width: 19px;
              height: 20px;
            
    

    }

/*Reservation Redeem*/
#branch{
    box-shadow: 5px 10px #888888 !important;
    margin-left: -7px;
    height: 318px;
    width: 360px !important;
}   
.redeem-content{
     background-color: white;
    height: 444px;
    width: 397px;
    position: relative;
    margin-top: 24px;
    margin-right: 7px;
    margin-left: 12px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 10px;
    z-index: 1;
    
}

 body {
    font-family: Helvetica !important;
}
.redeem-content1{
    background-color: #f1f1f1;
    height: 372px;
    width: 391px;
    position: relative;
    margin-top: 16px;
    margin-right: 7px;
    margin-bottom: 20px;
    padding-top: 60px;
    border-radius: 10px;
    margin-left: -39px;
    
}
.redeem-content12{
     background-color: #f1f1f1;
    height: 372px;
    width: 397px;
    position: relative;
    margin-top: 16px;
    margin-right: 7px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 10px;
    margin-left: 174px;
    
}

.c1{
        padding-top: 7px;
}

#c2{
    margin-top: 22px;
}
    
