/* page content area (grey color) */
 .page-news {
     background-color: #F5F5F5;
     height: 612px;
     width: 818px;
     position: relative;
     margin-top: 20px;
     margin-right: 20px;
     margin-bottom: 20px;
}
 .heart-click-news {
     background: transparent;
     border: 0px;
     margin-left: 747px;
     margin-top: -62px;
     position: absolute;
}
 .heart-news{
     width: 25px;
     height: 25px;
}
 .news{
     text-align: center;
     color: black;
     margin-top: -580px;
     margin-left: 280px;
     font-family: Helvetica;
}
/*paragraph ofthe branch*/
 .para-news{
     width: 456px;
     margin-top:30px;
     height: 500px;
     margin-left: 330px;
     font-size: 16px;
     font-family: Helvetica;
}
/*back button*/
 .news-exp-back-btn {
     margin-left: -82px;
}
/* On small screens, set height to 'auto' for sidenav and grid */
 @media screen and (max-width: 767px) {
     .page-news {
         height: 480px;
         width:346px;
         position: relative;
         margin-top: 29px;
         margin-bottom: 20px;
    }
     .para-news{
         width: 328px;
         margin-top:10px;
         height: 330px;
         margin-left: 10px;
         font-size: 11px;
         font-family: Helvetica;
    }
     .icon-img-news{
         background-image: url(images/Branchiphone.jpg);
         width: 344px;
         height: 155px;
    }
     .news{
         text-align: left;
         color: black;
         font-size: 16px;
         margin-top: 15px;
         margin-left: 10px;
         font-family: Helvetica;
    }
     .heart-click-news {
         margin-right: 30px;
         margin-top: -99px;
         margin-left: 300px;
    }
     .heart-news{
         width: 20px;
         height: 20px;
    }
}
 