.news1 {
     background-color: #F5F5F5;
     height: 240px;
     width: 590px;
     position: relative;
     margin-top: 20px;
     margin-right: 10px;
     margin-bottom: 20px;
}
 .news2 {
     background-color: #F5F5F5;
     height: 550px;
     width: 220px;
     position: relative;
     margin-top: 20px;
     margin-bottom: 20px;
}
 .news3 {
     background-color: #F5F5F5;
     height: 365px;
     width: 280px;
     position: relative;
     margin-right: 10px;
     margin-top: -10px;
     margin-bottom: 20px;
}
 .news4 {
     background-color: #F5F5F5;
     height: 365px;
     width: 297px;
     position: relative;
     margin-top: -10px;
     margin-bottom: 20px;
}
 .topic{
     font-size: 18px;
}
 .news1-content{
     width: 320px;
     height: 230px;
     font-size: 14px;
     font-family: Helvetica;
}
 .news2-content{
     width: 197px;
     height: 240px;
     font-size: 14px;
     font-family: Helvetica;
     margin-top: 20px;
}
 .news3-content{
     width: 257px;
     height: 240px;
     font-size: 14px;
     font-family: Helvetica;
     margin-top: 176px;
}
 .news4-content{
     width: 257px;
     height: 240px;
     font-size: 14px;
     font-family: Helvetica;
     margin-top: 2px;
}
 .icon-img-news1{
     margin-left: 362px;
     margin-top: -263px;
}
 .icon-img-news3{
     margin-left: -16px;
     margin-top: -564px;
     height: 166px;
     width: 282px;
}
 .icon-img-news4{
     margin-left: -16px;
     margin-top: 60px;
     height: 166px;
     width: 299px;
     z-index: 1000;
}
 .icon-img-news2{
     margin-left: -16px;
     margin-top: 10px;
     height: 290px;
     width: 221px;
     z-index: 1000;
}
 .heart-click-news1 {
     background: transparent;
     border: 0px;
     margin-left: 284px;
     margin-top: -20px;
     position: absolute;
}
 .heart-news1{
     width: 25px;
     height: 25px;
}
 .heart-click-news2 {
     background: transparent;
     border: 0px;
     margin-left: 158px;
     margin-top: -322px;
     position: absolute;
}
 .heart-news2{
     width: 25px;
     height: 25px;
}
 .heart-click-news3 {
     background: transparent;
     border: 0px;
     margin-left: 208px;
     margin-top: -43px;
     position: absolute;
}
 .heart-news3{
     width: 25px;
     height: 25px;
}
 .heart-click-news4 {
     background: transparent;
     border: 0px;
     margin-left: 224px;
     margin-top: -211px;
     position: absolute;
}
 .heart-news4{
     width: 25px;
     height: 25px;
}
 .btnEventShare {
     background: linear-gradient(#93725B, #381F15) !important;
     border-radius: 7px;
    /* float: right;
    */
     border: none;
     color: white;
     height: 40px;
     width: 220px;
     position: absolute;
     margin-left: -25px;
     top: 594px;
     left: 640px;
     font-size: 20px;
}
 p.iphone {
     display: none
}
 p.ipad {
     display: block
}
 @media screen and (max-width: 767px) {
     .news1 {
         height: 110px;
         width: 345px;
         margin-top: 26px;
    }
     .news2 {
         height: 110px;
         width: 345px;
         margin-top: -15px;
         margin-bottom: 20px;
    }
     .news3 {
         height: 110px;
         width: 345px;
         margin-bottom: 20px;
    }
     .news4 {
         height: 110px;
         width: 345px;
         margin-top: -15px;
         margin-bottom: 20px;
    }
     .topic{
         font-size: 13px;
    }
     p{
         font-size: 11px;
    }
     .news1-content{
         width: 209px;
         height: 44px;
         font-size: 12px;
         padding-top: 1px;
    }
     .news2-content{
         width: 197px;
         height: 110px;
         margin-top: 20px;
         padding-top: 1px;
    }
     .news3-content{
         width: 209px ;
         height: 110px;
         margin-top: 176px;
         padding-top: 1px;
    }
     .news4-content{
         width: 209px;
         height: 110px;
         margin-top: 2px;
         padding-top: 1px;
    }
     .icon-img-news1{
         margin-left: 220px;
         margin-top: -44px;
         margin-bottom: -46px;
         height: 110px;
         width: 110px;
    }
     .icon-img-news3{
         margin-left: 221px;
         margin-top: -123px;
         height: 110px;
         width: 110px;
    }
     .icon-img-news4{
         margin-left: 220px;
         margin-top: -140px;
         height: 110px;
         width: 110px;
         z-index: 1000;
    }
     .icon-img-news2{
         margin-left: 219px;
         margin-top: -118px;
         height: 110px;
         width: 110px;
         z-index: 1000;
    }
     .btnEventShare {
         background: linear-gradient(#93725B, #381F15) !important;
        /* float: right;
        */
         border: none;
         color: white;
         font-size: 20px;
         height: 30px;
         width: 345px;
         position: absolute;
         margin-top: -107px;
         left: 39px;
         font-size: 16px;
    }
     .heart-click-news1 {
         margin-right: 30px;
         margin-top: -18px;
         margin-left: 190px;
    }
     .heart-news1{
         width: 15px;
         height: 15px;
         margin-top: 0px;
         margin-left: 0px;
    }
     .heart-click-news2 {
         margin-right: 30px;
         margin-top: -40px;
         margin-left: 190px;
    }
     .heart-news2{
         width: 15px;
         height: 15px;
         margin-top: 0px;
         margin-left: 0px;
    }
     .heart-click-news3 {
         margin-right: 30px;
         margin-top: -42px;
         margin-left: 192px;
    }
     .heart-news3{
         width: 15px;
         height: 15px;
         margin-top: 0px;
         margin-left: 0px;
    }
     .heart-click-news4 {
         margin-right: 30px;
         margin-top: -50px;
         margin-left: 192px;
    }
     .heart-news4{
         width: 15px;
         height: 15px;
         margin-left: 0px;
         margin-top: 0px;
    }
     ul{
         font-size: 11px;
    }
     p.iphone {
         display: block 
    }
     p.ipad {
         display: none 
    }
}
 