<style>
    ul {
        display:block;
        background:#45619D;
        list-style:none;
        margin:0;
        padding:12px 10px;
        height:16px;
    }
    ul li {
        float:left;
        font:13px helvetica;
        font-weight:bold;
        margin:0px 0;
    }
    ul li a {
        color:#FFF;
        text-decoration:none;
        padding:6px 15px;
        cursor:pointer;
    }
    ul li a:hover {
        background:#425B90;
        text-decoration:none;
        cursor:pointer;
    }
        
    #noti_Container {
        position:relative;
    }
       
    /* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
    #noti_Button {
        width: 40px;
        height: 40px;
        line-height: 22px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        background: #381f15;
        margin: 4px -3px 0 1px;
        cursor: pointer;
    }
        
    /* THE POPULAR RED NOTIFICATIONS COUNTER. */
    #noti_Counter {
        display: block;
        position: absolute;
        background: #79563c;
        color: #ffffff;
        font-size: 11px;
        font-weight: normal;
        padding: 1px 5px;
        margin: 5px 0 0 25px;
        border-radius: 10px;
    }
        
    /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
    #notifications {
        display:none;
        width:190px;
        position:absolute;
        top:30px;
        left:0;
        background:#FFF;
        border:solid 1px rgba(100, 100, 100, .20);
        -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
        z-index: 1;
        margin-left: -2px;
        margin-top: 20px;
    }

    .noti-cont{
        height: 89px !important;
        padding: 7px !important;
        text-align: justify;
    }

    /* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
    #notifications:before {         
        content: '';
        display:block;
        width:0;
        height:0;
        color:transparent;
        border:10px solid #CCC;
        border-color:transparent transparent #FFF;
        margin-top:-20px;
        margin-left:10px;
    }
        
    .noti-header {
        display:block;
        color:white; 
        background:#93725B;
        font-weight:bold;
        font-size:15px;    
        padding:8px;
        margin:0;
        border-bottom:solid 1px rgba(100, 100, 100, .30);
    }

/*    profile on home screen after adding notification*/
    .btn .caret {
        margin-left: -9px;
    }

    .open>.dropdown-menu {
        display: inline-grid;
    }
        
    ul li a:hover {
        background: #381f15;
        text-decoration: none;
        cursor: pointer;
    }

/*home*/

/*maze image*/ 
.icon-img-maze{
    margin-top: 10px;
}

.button1 {
    border-radius: 70%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin-left: 60px;
    margin-bottom: 10px;
    top: 470px;
    left: 720px;

}

.button2 {
    border-radius: 70%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin-left: 60px;
    margin-bottom: 10px;
    top: 520px;
    left: 720px;
}

.button3 {
    border-radius: 70%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin-left: 60px;
    margin-bottom: 10px;
    top: 570px;
    left: 720px;
}

.icon-img-btn1{
    margin-bottom: 10px;
    position: relative;
    float: right;
    top: 50%;
    left: 38%;

}

.icon-img-btn2{
    margin-bottom: 10px;
    position: relative;
    float: right;
    top: 48%;
    left: 38%;

}

.icon-img-btn3{
    margin-bottom: 10px;
    position: relative;
    float: right;
    top: 50%;
    left: 38%;

}

.page-select {
    color: #93725B !important;
}

.to-game-1 {
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: transparent;
    border: 0px;
}

.to-game-2 {
    position: absolute;
    width: 400px;
    height: 600px;
    margin-left: 400px;
    background-color: transparent;
    border: 0px;
}


@media screen and (max-width: 767px) {
 /*maze image for small screen*/ 
        .icon-img-maze{
    margin-top: 22px;
    margin-left: -8px;
    height: 493px;


    }
    

    .icon-img-btn1{
        margin-bottom: 10px;
        position: relative;
        float: right;
        top: 50%;
        left: 38%;

    }

    .icon-img-btn2{
        margin-bottom: 10px;
        position: relative;
        float: right;
        top: 48%;
        left: 38%;

    }

    .icon-img-btn3{
        margin-bottom: 10px;
        position: relative;
        float: right;
        top: 50%;
        left: 38%;

    }
    .button1 {
        border-radius: 70%;
        height: 40px;
        width: 40px;
        position: absolute;
        margin-left: 50px;
        margin-bottom: 10px;
        top: 463px;
        left: 68px;

    }

    .button2 {
        border-radius: 70%;
        height: 40px;
        width: 40px;
        position: absolute;
        margin-left: 50px;
        margin-bottom: 10px;
        top: 463px;
        left: 128px;
    }

    .button3 {
        border-radius: 70%;
        height: 40px;
        width: 40px;
        position: absolute;
        margin-left: 50px;
        margin-bottom: 10px;
        top: 463px;
        left: 192px;
    }
    
    .pagecontent {
        z-index: 0;
    }
    
    #noti_Button {
        width: 32px;
        height: 32px;
    }
    
    #notifications {
        width: 160px;
        top: 22px;
    }
    
    .noti-header {
        font-size: 12px;
    }
    
    .to-game-1 {
        width: 350px;
        height: 200px;
    }

    .to-game-2 {
        width: 350px;
        height: 200px;
        margin-left: 0px;
        margin-top: 250px;
    }    
}
    
</style>