/* colour and alignment of the title of popup */
.jconfirm .jconfirm-box div.jconfirm-title-c {
    padding-left : 75px;
    color : #6f533e;
}

/* backgrounf colour of popup box */
.jconfirm .jconfirm-box {
    background : #ececec;
    padding-bottom: 40px;
}

/* send, cancel button alignment to center */
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
    text-align: center !important;
    padding-right : 27px;
}

/* send,cancel button background colour */
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-default {
    background-color : #a4a4a4;
}

/* send, cancel button size */
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-default, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default {
    width: 100px;
}

/* checkbox alignment */
.popup-checkbox {
    padding-left: 65px;
}

/* how to play popup list view icon */
img.popup_bullet {
/*    list-style-image: url('/images/CoffeeCup.png');*/
        height: 20px;
        width: 20px;
        padding-right: 8px;
        padding-bottom: 3px;
}

/* how to play popup remove bullet icon */
ul.no_bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* how to play list view div background colour and other properties */
.listview-background {
    background: #e4e4e4;
    padding-left : 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 258px;
    height: 90px;
    margin: 4px;
}

p.popup_rate {
    font-size: 18px;
}

img.starRating {
    
    width: 150px;
}

/* On small screens, set properties accordingly */
@media screen and (max-width: 767px) {
    
    /*  button alignment  */
   .jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
        text-align: center !important;
        padding-right : 22px;
    }
  
}