/* page content area (grey color) */
 .riddle {
     width: 300px;
     position: relative;
     margin-top: 20px;
     margin-right: 40px;
     margin-bottom: 0px;
     height: 500px;
}
 .icon-img-maze{
     margin-top: -12px;
}
 .button1 {
     background-color: #4E2B1C;
     float: right;
     border: none;
     color: white;
     height: 34px;
     width: 92px;
     position: absolute;
     margin-left: 50px;
     margin-bottom: 10px;
     top: 215px ;
     left: 671px;
}
 .button2 {
     background: linear-gradient(#93725B, #381F15) !important;
     float: right;
     border: none;
     color: white;
     height: 36px;
     width: 122px;
     position: absolute;
     margin-left: 50px;
     margin-bottom: 10px;
     top: 570px;
     left: 640px;
     border-radius: 7px;
}
 .riddle-back-btn {
     margin-left: 4px;
}
/* On small screens, set height to 'auto' for sidenav and grid */
 @media screen and (max-width: 767px) {
     .riddle {
         height: 450px;
         width:300px;
         position: relative;
         margin-top: 30px;
         margin-right: 40px;
         margin-bottom: 30px;
    }
     .icon-img-hangman{
         height: 485px;
         width: 340px;
    }
     .button1 {
         height: 34px;
         width: 92px;
         margin-left: 50px;
         margin-bottom: 10px;
         top: 149px;
         left: 193px;
    }
     .button2 {
         height: 30px;
         width: 122px;
         margin-left: 50px;
         margin-bottom: 10px;
         top: 450px;
         left: 60px;
         border-radius: 7px;
    }
}
