/* game screen 3 grey content box properties */
.game3-content {
    background-color: #F5F5F5;
    height: 620px;
    width: 397px;
    position: relative;
    margin-top: 16px;
    margin-right: 7px;
    margin-left: 7px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 10px;
}

.game-bill-form {
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 60px;
}

label.game {
    font-weight: normal !important;
    font-size: 18px;
    padding-top: 20px;
}

input.game_bill {
    margin-top: 20px;
    width: 50px;    
}

/* cancel and pay online button properties of game form */
.btn-primary.game_form {
    color: #fff;
    background-color: #381f15;
    background: linear-gradient(#93725B, #381F15);
    border-radius: 10px;
    border: 0px;
    width: 300px;
    height: 50px;
    margin-top: -50px;
    margin-bottom: 8px;
    font-size: 22px;
    margin-left: 30px;
}

.paypalBtnImg{
    margin-left: 30px;
}

/* scan button properties */
.btn-primary.scanbtn {
    color: #fff;
    background-color: #79563c;
    border-color: #79563c;
    width: 200px;
    height: 150px;
    font-size: 20px;
    margin-top: 155px;
    border-radius: 10px;
}

/* selfie mania poster on top buttons */
.btn-primary.posterBtn {
    color: #fff;
    background-color: #381f15;
    background: linear-gradient(#381F15, #93725B);
    border-radius: 10px;
    border: 0px;
    width: 180px;
    height: 50px;
    bottom: 70px;
    margin-right: 65px;
    font-size: 22px;
}

/* QR code image top space */
img.QRCode {
    margin-top: 100px;
}

/* selfie mania poster properties */
img.selfiePoster {
    margin-top: 22px;
    height: 610px;
    width: 820px;
}

/*back button*/
.game-selfie-back-btn {
    margin-left: 2px;
}

.paybill-back-btn {
    margin-left: -45px;
}

/* On small screens, set properties accordingly */
@media screen and (max-width: 767px) {
    
    .game3-content{
        height: 250px;
        width: 347px;
        margin-left: -1px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-top: 20px;
        margin-bottom: -20px;
        border-radius: 0px;
    } 
    
    .paypalBtnImg {
        width: 250px;
        height: 65px;
    }
    
/* QR code image top space on small devices */
    img.QRCode {
        margin-top: -15px;
    }

/* bill form on smaller devices */
    .game-bill-form {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 20px;
    }

/* label size in bills */
    label.game {
        font-size: 16px;
        padding-top: 0px;
    }

/* heading font size of bill */
    h3.h_bill {
        font-size: 18px;
        padding-bottom: 5px;
    }

/*num spinner properties */
    input.game_bill {
        margin-top: 0px; 
    }
    
/* reduce space between form elements in bill*/
    .form-group.phone {
        margin-bottom: 5px;
    }
    
/* game bill form button */
    .btn-primary.game_form {
        border: 0px;
        width: 250px;
        height: 30px;
        margin-left: 30px;
        margin-bottom: 4px;
        border-radius: 5px;
        float: none !important;
    }

    .btn-primary.scanbtn {
        margin-top: 100px;
    }
    
/* poster selfie mania for smaller screen devices */
    img.selfiePoster {
        height: 485px;
        width: 345px;
        margin-bottom: -25px;
    }
    
/* selfie mania poster on top buttons */
    .btn-primary.posterBtn {
        width: 130px;
        height: 35px;
        font-size: 16px;
    }
    
/* selfie mania poster cancel buttons */
    .btn-primary.posterBtn_cancel {
        right: 125px;
        bottom: 55px;
    }
    
/* selfie mania poster uplaod buttons */
    .btn-primary.posterBtn_upload {
        left: 40px;
        bottom: 20px;
    }

    
}
