body {
    height: 100%;
    width: 100%;
    position: absolute;
    color: #381F15;
}

.signin-text{
    height: 768px;
    background-color:#93725B; 
    padding-left: 0px;
    padding-right: 0px;
}

.signin-image{
    height: 768px;
    padding-left: 0px;
    padding-right: 0px;
}

.owl-image {
    width: 512px;
    height: 768px;
}

.logo { 
    margin-left: 81px; 
    margin-top: 80px;
    width: 350px;
    height: 160px;
}

.signinform {
    position: relative;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 50px;
    z-index: 20000 !important;
}

.form-control {
    height: 50px;
    font-size: 20px;
    background-color: #856650;
    border-bottom-width: 1px;
    border-color: #856650;
    border-right-width: 1px;
    border-top-width: 1px;
    border-left-width: 0px;
    font-weight: bold;
}

.input-group-addon {
    background-color: #7e5f4b;
    border-bottom-width: 1px;
    border-color: #7e5f4b;
    border-right-width: 0px;
    border-top-width: 1px;
    border-left-width: 1px;
}

.input-group {
    height: 50px;
    color: #ffffff !important;
}

.glyphicon {
    font-size: 30px;
}

.signin-btn {
    height: 50px;
    width: 362px;
    margin-left: 0px;
    margin-right: 100px;
    font-size: 24px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    color: #ffffff;
    background: linear-gradient(#381F15, #93725B);
    border: 0px;
    box-shadow: 0 3px #381F15;
}

h6 {
    margin-left: 140px;
    font-size: 20px !important;
    font-weight: bold;
}

.social {
    height: 50px;
    widows: 50px;
}

.social-media {
    margin-left: 180px;
}

.to-signup {
    margin-top: 50px;
}

.signuptxt {
    margin-left: 80px;
    font-size: 20px;
    font-weight: bold;
}

.signup-btn {
    height: 40px;
    width: 150px;
    font-size: 16px;
    font-weight: normal !important;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    color: #ffffff;
    background: linear-gradient(#381F15, #93725B);
    border: 0px;
    box-shadow: 0 3px #381F15;
}

/* Set footer for the pages */
footer {
  background-color: #381F15;
  color: white;
  padding-bottom: 10px;
  padding-top: 6px;
  position: fixed;
  height: 35px;
  bottom: 0;
  width: 100%;
}

.footer-text{
    text-align: left;
    font-size: 14px;
}

.footer-media{
    text-align: right;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    margin-left: 165px;
}

.footer-images{
    width: 20px;
    height: 20px;
}

.sumbit-btn {
    width: 295px !important;
    height: 50px !important;
    background: linear-gradient(#93725B, #381F15) !important;
    color: white !important;
    position: absolute !important;
    margin-left: 32px !important;
    margin-bottom: 10px !important;
    top: 480px !important;
    left: 310px !important;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {

    .signin-text{
        height: 667px;
        width: 375px;
        background-color:transparent; 
        position: fixed;
        margin-left: 0px;
        margin-right: 375px;
        margin-top: 0px;
        margin-bottom: 667px;
    }
    
    .signin-image{
        position: relative;
        z-index: -1;
        height: 667px;
        width: 375px;
    }
    
    .owl-image {
        opacity: 0.7;
        width: 375px;
        height: 667px;
    }
    
    .logo { 
        margin-left: 35px; 
        margin-top: 130px;
        width: 300px;
        height: 160px;
    }
    
    .form-control {
        background-color: #ffffff; 
        opacity: 1;
        height: 30px;
        font-size: 15px;
        border-color: #85665000;
    }
    
    .input-group {
        height: 30px;
    }

    .glyphicon {
        font-size: 15px;
    }
    
    .input-group-addon {
        background-color: #ffffff; 
        opacity: 1;
        border-color: #7e5f4b00;
    }
    
    .signin-btn {
        height: 25px;
        width: 225px;
        margin-left: 0px;
        margin-right: 25px;
        margin-top: -20px;
        font-size: 14px;
        border-radius: 5px;
    }
    
    h6 {
        margin-left: 100px;
        font-size: 15px !important;
        margin-top: -3px;
        color: white;
    }
    
    .social {
        height: 30px;
        widows: 30px;
    }

    .social-media {
        margin-left: 135px;
    }
    
    .to-signup{
        margin-top: 20px;
    }
    
    .signuptxt {
        margin-left: 50px;
        font-size: 15px;
    }

    .signup-btn {
        height: 30px;
        width: 120px;
        font-size: 15px;
    }
    
    /* set small footer font for mobile */
    .footer-text{
        font-size: 12px !important;
        right: 15px;
        top: 4px;
    }

/*  set the social media icons of footer in place  */
    .footer-media{
        position: relative;
        top: -16px;
        left: 15px;
    }
}
