      *, *:before, *:after {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    html, body {
      font-size: 62.5%;
      height: 100%;
      overflow: hidden;
    }

    body {
      background: #000;
    }

    svg {
      display: block;
      overflow: visible;
    }

    .slider-container {
      position: relative;
      height: 100%;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      cursor: all-scroll;
    }

    .slider-control {
      z-index: 2;
      position: absolute;
      top: 0;
      width: 12%;
      height: 100%;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s;
      will-change: opacity;
      opacity: 0;
    }
    .slider-control.inactive:hover {
      cursor: auto;
    }
    .slider-control:not(.inactive):hover {
      opacity: 1;
      cursor: pointer;
    }
    .slider-control.left {
      left: 0;
      background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.18)), to(rgba(0, 0, 0, 0)));
      background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
    }
    .slider-control.right {
      right: 0;
      background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.18)));
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
    }

    .slider-pagi {
      position: absolute;
      z-index: 6;
      left: 50%;
      bottom: 8rem;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      font-size: 0;
      list-style-type: none;
    }

    
    .slider-pagi__elem {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 1rem;
      height: 1rem;
      margin: 0 0.5rem;
      border-radius: 50%;
      border: 2px solid #fff;
      cursor: pointer;
    }
    .slider-pagi__elem:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1.2rem;
      height: 1.2rem;
      background: #fff;
      border-radius: 50%;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s;
      -webkit-transform: translate(-50%, -50%) scale(0);
              transform: translate(-50%, -50%) scale(0);
    }
    .slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
    }

    .slider {
      z-index: 1;
      position: relative;
      height: 100%;
    }
    .slider.animating {
      -webkit-transition: -webkit-transform 0.5s;
      transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s;
      will-change: transform;
    }
    .slider.animating .slide__bg {
      -webkit-transition: -webkit-transform 0.5s;
      transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s;
      will-change: transform;
    }

    .slide {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .slide.active .slide__overlay,
    .slide.active .slide__text {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    .slide__bg {
      position: absolute;
      top: 0;
      left: -50%;
      width: 100%;
      height: 100%;
      background-size: cover;
      will-change: transform;
    }
    .slide:nth-child(1) {
      left: 0;
    }
    .slide:nth-child(1) .slide__bg {
      left: 0;
      background-image: url("../images/coffee-shop.jpg");
    }

    
    .slide:nth-child(2) {
      left: 100%;
    }
    .slide:nth-child(2) .slide__bg {
      left: -50%;
      background-image: url("../images/slider1.jpg");
    }


    .slide:nth-child(3) {
      left: 200%;
    }
    .slide:nth-child(3) .slide__bg {
      left: -100%;
      background-image: url("../images/slider2.jpg");
    }

    .slide:nth-child(4) {
      left: 300%;
    }
    .slide:nth-child(4) .slide__bg {
      left: -150%;
      background-image: url("../images/slider3.jpg");
    }


    .slide__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }


    .slide__text {
      position: absolute;
      width: 55%;
      bottom: 6%;
      left: 32%;
      color: #fff;
      -webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
      transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
      transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
      transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
      will-change: transform, opacity;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      opacity: 0;
    }
   
    .slide__text-heading {
      font-family: Lucida Grande;
      font-size: 4rem;
      margin-bottom: 2rem;
      position:fixed;
      bottom:3rem;
      white-space: nowrap;
      left:-10px;
      
    }
   

    .slide__text-heading1 {
      font-family: Lucida Grande;
      font-size: 3rem;
      margin-bottom: 2rem;
      position:fixed;
      bottom:4rem;
      white-space: nowrap;
      left:-230px;
      
    }
   

    .slide__text-heading2 {
      font-family: Lucida Grande;
      font-size: 3rem;
      margin-bottom: 2rem;
      position:fixed;
      bottom:3rem;
      white-space: nowrap;
      left:-200px;

    }
   

    .slide__text-heading3 {
      font-family: Lucida Grande;
      font-size: 3rem;
      margin-bottom: 2rem;
      position:fixed;
      bottom:3rem;
      white-space: nowrap;
      left:-240px;
      
    }
   

    .button {
      background-color : #381F15;
      color: white;
      padding: 10px 20px;
      border: 10px #381F15;
      border-radius: 10px;
      position: fixed;
      bottom: -20px;
      left: -275px;
      width:400px;
      font-size:20px;
    }
    
    .button1{
      background-color : #381F15;
      color: white;
      padding: 10px 20px;
      border: 10px #381F15;
      border-radius: 10px;
      position: fixed;
      bottom: -20px;
      right: -95px;
      width:400px;
      font-size:20px;
    }
    
    #mybutton{
        position:fixed;

    }
	
	@media (max-width: 767px){
        .slider-pagi{
             bottom: 8rem;
			 z-index: 5;
			 left: 45%;
        }
		/*pagination*/
		.slider-pagi__elem {
			bottom: -8px;
			width: 1rem;
			height: 1rem;
			
		}
		
		.slide:nth-child(1) .slide__bg{
             background-image: url("../images/coffee-shop.jpg");
        }
		
		.slide__text {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 15rem;
        text-align: center;
        -webkit-transform: translateY(50%);
                transform: translateY(50%);
        -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
        transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;

      }
	  
	  .slide__text-heading {
        font-family: Lucida Grande;
        line-height: 10rem;
        font-size: 2.7rem;
        margin-bottom: 5rem;
        position:fixed;
        bottom:0px;
        left: 55px;
        
		

      }
	  
	  .slide__text-heading1 {
        font-family: Lucida Grande;
        line-height: 2rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        position:fixed;
        bottom:8rem;
        left: 12px;
        white-space: normal;
		text-align:center;
		
		

      }
	  
	   .slide__text-heading2 {
        font-family: Lucida Grande;
        line-height: 2rem;
        font-size: 1.5rem;	  	
        margin-bottom: 1rem;
        position:fixed;
        bottom:8rem;
        left: 52px;
        white-space: normal;
		text-align:center;

      }
	  
	    .slide__text-heading3 {
        font-family: Lucida Grande;
        line-height:2rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        position:fixed;
        bottom:8rem;
        left: 38px;
        white-space: normal;
		text-align:center;

      }
	  /*Sign In button*/
	   .button {
            font-size:16px;
            width:140px;
            bottom: 30px;
            left:23px;
        }
		/*Sign Up button*/
		.button1 {
            font-size:16px;
            width:140px;
            bottom: 30px;
            right: 20px;
        }
	  	
    }
