.page-select {
    font: 20px Lucida grande, sans-serif !important;
    font-weight: bold !important;
    font-style: italic oblique !important;
    color: #93725B !important;
}

.news-highlight {
    font: 20px Lucida grande, sans-serif !important;
    font-weight: bold !important;
}

/*
a {
    color: #93725B;
}
*/

/* page content area (grey color) */
.page-content {
    background-color: #F5F5F5;
    height: 612px;
    width: 818px;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font: 36px helveticka, sans-serif; 
    font-weight: bold;
} 

h3 {
    font: 20px helveticka, sans-serif;  
}

.search {
    margin-left: 275px; 
    font: 15px helveticka, sans-serif; 
}

.search-event {
    margin-left: 223px; 
    font: 15px helveticka, sans-serif; 
    text-align: left;
}

.search-news { 
    width: 375px; 
    font: 10px helveticka, sans-serif; 
}

.search-about { 
    margin-left: 278px; 
    font: 10px helveticka, sans-serif; 
}

.search-bar{
    height: 40px;
    width: 400px;
    border: solid black;
    border-radius: 5px;
}

.search-bar-align{
    margin-left: 210px;
}

/* The container */
.listing {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.listing input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
    border: solid black;
}


/* When the checkbox is checked, add a blue background */
.listing input:checked ~ .checkmark {
    background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.listing input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.listing .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.email {
    width : 250px;
    border-radius: 5px;
    height: 35px;
    border: 0px;
}

.enter-mail{
    margin-left: 220px;
}

.sendlist-btn {
    height: 40px;
    width: 400px;
    margin-left: 215px;
    margin-right: 100px;
    font-size: 24px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    color: #ffffff;
    background: linear-gradient(#93725B, #381F15);
    border: 0px;
    box-shadow: 0 0px #381F15;
}

.menu_row1 {
    margin-top: 20px;
    margin-left: 3px;
}

.menu_row2 {
    margin-top: 336px;
    margin-left: 3px;
}

.col-sm-3 {
    width: 31%;
    position: relative;
}

.col1, .col4 {
    background-color: #eee;
    height: 300px;
/*    width: 258px;*/
}
.col2, .col3, .col5, .col6{
    background-color: #eee;
    margin-left: 25px;;
    height: 300px;
/*    width: 258px;*/
}

.menu-items {
    width: 255px;
    height: 160px;
    margin-left: -16px;
}

.price-label{
    margin-left: 157px;
    margin-top: -144px;
    position: absolute;
    width: 82px;
    height: 30px;
    background-color: black;
    border-color: black;
    opacity: 0.5;
    font: 20px helveticka, sans-serif;
    color: white;
}

.menu-heading{
    font: 21px helveticka, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
}

.menu-content {
    font: 20px helveticka, sans-serif;
    font-weight: normal;
}

.row-branch{
    width: 400px;
    height: 130px;
    background-color: #eee;
    margin-top: 17px;
    margin-left: -10px;
    position: relative;
}

.branch-map {
    width: 399px;
    height: 620px;
    background-color: red;
    margin-left: 80px;
    margin-top: 16px;
    position: relative;
}

.branch-share-btn {
    height: 40px;
    margin-left: -10px;
    margin-top: 11px;
    font-size: 20px;
    border-radius: 7px;
    position: relative;
}

.branch-img {
    width: 180px;
    height: 130px;
}

.branch-heading{
    font: 20px helveticka, sans-serif;
    text-align: center;
    margin-top: -119px;
    margin-right: -5px;
    font-weight: bold;
    margin-left: 180px;
}

.branch-content {
    font: 18px helveticka, sans-serif;
    margin-left: 180px;
    margin-right: -8px;
    text-align: center;
    margin-top: 16px;
}


.heart-click {
    background: transparent;
    border: 0px; 
    margin-left: 361px;
    margin-top: -7px;
    position: absolute;
}

.heart{
    width: 25px;
    height: 25px;
}

element.style {
    display: block;
    margin-top: -100px !important;
    margin-left: -80px !important;
}

/*back button*/
.about-fav-back-btn {
    margin-left: -70px;
}

.event-fav-back-btn {
    margin-left: -50px;
}

.news-fav-back-btn {
    margin-left: -80px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    
    .page-content {
        height: 477px;
        width: 345px;
        margin-top: 30px;
        margin-right: 0px;
    }
    
    h1 {
        font: 24px helveticka, sans-serif; 
        font-weight: bold;
    } 
    
    .search-bar-align{
        margin-left: 30px;
        width: 280px;
        margin-right: 30px;
    }
    
    .search-bar{
        width: 280px;
    }
    
    .search {
        margin-left: 80px;
        font: 3px helveticka, sans-serif;
        width: 230px;
    }
    
    .search-event {
        margin-left: 50px;
        width: 245px;
    }
    
    .listing {
        font-size: 16px;
    }
    
    .checkmark {
        height: 20px;
        width: 20px;
    }
    
    .enter-mail {
        margin-left: 30px;
    }
    
    .email {
        height: 30px;
        width: 180px;
    }
    
    h3 {
        font: 15px helveticka, sans-serif;
        width: 300px;
    }
    
    .sendlist-btn {
        height: 30px;
        width: 283px;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 16px;
        border-radius: 7px;
    }
    
    .liste {
        font-size: 12px !important;
    }
    
    .listn {
        font-size: 12px !important;
    }
    
    .search-news {  
        font: 6px helveticka, sans-serif; 
    }
    
    .search-about { 
        margin-left: 70px; 
        font: 3px helveticka, sans-serif; 
    }
    
    .col-sm-3 {
        width: 84%;
        position: absolute;
    }
    
    .col1, .col4 {
        width: 90%;
        height: 130px;;
    }
    
    .col2, .col5 {
        width: 90%;
        height: 130px; 
        margin-top: 145px;
        margin-left: 0px;
    }
    
    .col3, .col6 {
        width: 90%;
        height: 130px; 
        margin-top: 290px;
        margin-left: 0px;
    }
    
    .col6 {
        margin-bottom: 55px;
    }
    
    .menu_row1{
        height: 200px;
        margin-top: 30px;
    }
    
    .menu_row2{
        height: 200px;
        margin-top: 235px;
    }
    
    .menu-items {
        width: 190px;
        height: 130px;
    }
    
    .price-label{
        margin-left: -60px;
        margin-top: 6px;
        width: 60px;
        height: 25px;
        font: 16px helveticka, sans-serif;
    }
    
    .menu-heading{
        font: 15px helveticka, sans-serif;
        text-align: center;
        margin-top: -124px;
        margin-right: -5px;
        font-weight: bold;
        margin-left: 180px;
    }

    .menu-content {
        font: 13px helveticka, sans-serif;
        margin-left: 180px;
        margin-right: -8px;
        text-align: center;
    }
    
    .branch-list {
        margin-top: 300px;
        position: relative;
    }
    
    .branch-map {
        margin-top: -919px;
        width: 100%;
        height: 240px;
        margin-left: 0px;
    }
    
    .row-branch {
        width: 343px;
        height: 130px;
        margin-top: 17px;
        margin-left: -15px;
        position: relative;
    }
    
    .branch-share-btn {
        margin-bottom: 46px;
        width: 110%;
        margin-left: -16px;
    }
    
    .branch-img {
        width: 180px;
        height: 130px;
    }
    
    .branch-heading{
        font: 16px helveticka, sans-serif;
        font-weight: bold;
    }

    .branch-content {
        font: 15px helveticka, sans-serif;
        padding: 10px;
    }
    
    .heart-click {
        margin-left: 304px;
        margin-top: -17px;
    }
    
    .heart{
        width: 20px;
        height: 20px;
    }
    
    
}